.account-page
  .account-page__content
    .account-page__btn
      %h2 賛同署名フォーム
      %h5 アカウントの作成

      .account-page__btn--user_form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!

          .field
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true
          
          .field
            - year = []
            - for num in 0..100
              - year << 2020-num
            .field-label
              = f.label :birth_year
            .field-input
              = f.select :birth_year, year, {prompt: "--"}
          
          .field
            .field-label
              = f.label :work
            .field-input
              = f.text_field :work, autofocus: true

          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email

          .field
            .field-label
              = f.label :password
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"

          .field
            .field-label
              = f.label :password_confirmation
            .field-input
              = f.password_field :password_confirmation, autocomplete: "off"
          
          .actions
            = f.submit "Create Account", class: 'btn'