.header
  .header__lungage
    = icon('fa', 'bars fa-lg ')
  .header__surch
    = icon('fa', 'search fa-lg')
.main
  .main__logo
    ART FOR ALL 
  .main__message
    美術への対策要請 
  .main__listbox
    %ul
      %li
        = link_to "ART FOR ALL ", "#", class: "main_list"
      %li
        = link_to "美術への対策要請 ", "#", class: "main_list"
      %li
        = link_to "賛同署名フォーム ", "#", class: "main_list"
      %li
        = link_to "賛同メッセージ ", "#", class: "main_list" 
      %li
        = link_to "お問い合わせ ", "#", class: "main_list"

.contents
  = render "messages/content"
  .contents__btnbox
    .contents__btnbox--icon
      = link_to "https://www.facebook.com/", class: "contents__btn" do
        = icon('fab', 'facebook-square fa-2x')
    .contents__btnbox--icon
      = link_to "https://twitter.com/", class: "contents__btn" do
        = icon('fab', 'twitter fa-2x')
    .contents__btnbox--icon
      = link_to "https://www.instagram.com/", class: "contents__btn" do
        = icon('fab', 'instagram fa-2x')
   
  .contents__message
    .contents__message--title
      美術への対策要請
    .contents__message--text
      = render "messages/text"

= render 'create_account'

.infobox
  .infobox__title
    お問い合わせ
  .infobox__content
    art for all「美術への緊急対策要請」委員会 
    %br coronaartmeeting@gmail.com