#account-page.account-page
  .account-page__content
    .account-page__btn
      %h2 Edit Account
      %h5 アカウントの編集
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
      = link_to "トップページに戻る", :back, class: 'btn'
      
      .account-page__inner--right.user-form
        = form_for(current_user) do |f|
          .field
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true

          .field
            - year = []
            - for num in 0..100
              - year << 2020-num
            .field-label
              = f.label :birth_year
            .field-input
              = f.select :birth_year, year, {prompt: "--"}
          
          .field
            .field-label
              = f.label :work
            .field-input
              = f.text_field :work, autofocus: true

          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email
          
          .actions
            = f.submit "Update", class: 'btn'
